@model IEnumerable<MVCProject1.Models.MVC_Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.E_FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.E_LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.E_mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.E_Contact)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.E_FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.E_LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.E_mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.E_Contact)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.E_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.E_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.E_Id })
        </td>
    </tr>
}

</table>
